// color scheme
$primary: #00b4f0 !default;
$info: #40daf1 !default;
$success: #8bd22f !default;
$warning: #e7ba08 !default;
$danger: #f95372 !default;

$default-text-color: #ffffff !default;
$desc-text-color: #727272 !default;
$active-text-color: #00b4f0 !default;
$error-text-color: #ff3a39 !default;
